<%= form_with(model: garbage_item, local: true) do |form| %>
  <% if garbage_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(garbage_item.errors.count, "error") %> prohibited this garbage_item from being saved:</h2>

      <ul>
      <% garbage_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :stinkiness %>
    <%= form.number_field :stinkiness %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
