<!DOCTYPE html>
<html>
  <head>
    <title>SweaterApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <marquee>
      <h1>
        Sweater Weather
      </h1>
    </marquee>
    <%= yield %>
  </body>
</html>
